
<div class="row">
  <div class="col-sm-12">
    <form id="static-form">
      <div class="form-group">
        <label for="stext" class="label-style">Search query</label>
        <input type="text" class="form-control" id="stext" name="searchText" placeholder="Search..">
      </div>
      

      <div class="form-group hidden" id="error-container">
        <div class="alert alert-danger text-goes-here">
        </div>
      </div>
      <div class="form-group">
        <button id="submit" class="btn btn-default">Submit</button>
      </div>
      <div class="form-group hidden" id="result-container">
        <ul id="links">

        </ul>
      </div>
    </form>
  </div>
</div>